@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@layer utilities {
    .inter-font{
        font-family: "Inter", sans-serif;

    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.hamburger-menu{
    display: none;
}


.margin{
    
    padding: 25px 200px;
}



.display-flex{
    display: flex;
}

.align-item{
    align-items: center;

}

.btn{
    background:linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    
    
}


/* navbar-style */



nav{
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.nav-item{
    list-style: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}
.nav-item{
    margin-right: 30px;
    margin-left: 30px;
}

header{
    background: linear-gradient(rgba(26, 11, 46, 1), rgba(65, 37, 103, 1));
    max-width: 1600px;
    margin: 0 auto;
}

.logo-tech{
    color: #FFFFFF;
}

.logo-wave{
     color:linear-gradient( rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}


#banner{
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    width: 1600px;
    height: 800px;
    margin: 0 auto;
    
   
}

.new-badge{
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 50px;
    padding: 10px 30px;
    
}


.circle{
    position: relative;
    width: 450px;
    height: 350px;
    margin: 0 auto;
    align-items: center;
    /* max-width: 1200px */
}
.circle-grad{
    width: 100%;
    padding-top: 100px;
    
}

.mic{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
}

.max-width{
    max-width: 1200px;
    margin: 0 auto;
}
main{
     background-color: #FFFFFF;

     
}



.header-tech{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
    padding-top: 40px;
}

.header-para{

    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    white-space: nowrap;
    padding-top: 8px;
    
}

.center-btn{

    text-align: center;
}


.btn-1{

    background:linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   margin-top: 24px;
}
.btn-2{

    background: none;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   margin-top: 24px;
}




/* about section */

#about-container{
    background-color: #1A0B2E;
    width: 1600px;
    height: 700px;
    margin: 0 auto;
}

.about-info{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    /* border: 1px solid red; */
}

.about-info h2{
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.about-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 80px;
    
}


hr{
    max-width: 1200px;
    margin: 0 auto;
}

.about-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 80px  auto;

    /* border: 1px solid red; */
}

.about-card-info{
    text-align: center;
}

.about-card-info h1{
    font-size: 3rem;
    color: #00FF88;
}
.about-card-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}



#feature-container{

    background-color: #230E3D;
    max-width: 1600px;
    height: 1121px;
    margin: 0 auto;
    padding-top: 120px;
}

.feature-content{
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.feature-content h3{
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 30px;
    
}

.feature-card-1{
    grid-row: span 2;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
}

.feature-card-2{

    grid-column: span 2;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
}

.feature-card-3{

    grid-column: span 2;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
}
.feature-card-4{

    grid-column: span 2;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
}
.feature-card-5{

    grid-column: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
}

.feature img{
    padding: 10px;
}
.feature h4{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF;
}
.feature p{
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}


/* podcast-section */

#podcast-section{

    background-color: #1A0B2E;
    max-width: 1600px;
    height: 1276px;
    margin: 0 auto;
    padding-top: 120px;
}

.podcast-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    padding-top: 50px;
}

.episode-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid tomato; */
}

.podcast-card{
    background-color: #250D44;
    border-radius: 12px;
    text-align: left;
}

.podcast-content{
    padding: 20px;
}
.podcast-content h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px;
}
.podcast-content p{
   font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding: 10px;
}

.duration{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
    padding: 10px;
}
.host-card{
    background-color: #230E3D;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 30px;
    padding: 40px;
    text-align: left;
}
.host-details h3{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.host-details p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.social-link{
    gap: 30px;
    
}



/* footer */

#footer-section{
    background-image: url("../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}

.footer-logo img{
    width: 400px;
    margin-bottom: 20px;
}

.fotter-social{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFFFFF;
    font-size: 1rem;
}

.footer-social-item{
    display: flex;
    gap: 20px;
    
}
.copyright{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}





.hide{
    display: none !important;
}



/* responsive design for small deice */

@media screen and (max-width:576px) {


#about-container{
    max-width: 100%;
}

.about-info h2{
    font-size: 2rem;
}

.about-info p{
    text-align:justify;
    padding: 20px;
}

hr{
    max-width: 440px;
}

.about-card{
    grid-template-columns: repeat(2, 1fr);
    margin: 40px auto;
    gap: 40px;
}

#feature-container{
    width: 100%;
    height: auto;
}


.feature-content h3{
    font-size: 2rem;
}


.feature{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
   
}


}