@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@layer utilities {
    .inter-font{
        font-family: "Inter", sans-serif;

    }
}

/* shared style */
.display-flex{
    display: flex;
}







/* navbar-style */

nav{
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.nav-item{
    list-style: none;
}
.center-align{
    align-items: center;
}